# Ignorar node_modules en todos los proyectos dentro de la carpeta
**/node_modules/

# Ignorar archivos de entorno en todos los proyectos
**/.env

# Ignorar builds y dependencias
**/dist/
**/package-lock.json
**/yarn.lock

# Ignorar archivos de VS Code y sistemas operativos
.vscode/
.DS_Store
Thumbs.db
