main {
    display: flex;
    flex-direction: column;
    place-items: center;
    align-items: center;
  
    min-width: 800px;
    min-height: 600px;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    
}

section img {
    max-width: 320px;
    height: auto    ;
}